<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <title>Strength Training</title>
</head>
{{!-- <div class="flex-column justify-space-around"> --}}
  <div>
  {{!-- <header class="display-flex justify-space-between align-center p-2">
    <h1>
      <span role="img" aria-label="lift">🏋️</span>
      <a href="/">Super Cool Workout App</a>
    </h1> --}}
    <nav>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/profile">profile</a> |
      <button class="no-button" id="logout">logout</button>
      {{else}}
      {{!-- <a href="/login">login</a> --}}
      {{/if}}
    </nav>
  </header>
  {{!-- <main class="container container-fluid mt-5"> --}}
    <main>
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer>

  </footer>
</div>

<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

</html>