.black-text {
    color: #000000;
}

.pink-text {
    color: pink;
}

body {
    background-image: url("/img/modern-home-gym.jpeg");
    position: absolute;
    background-origin: border-box;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    opacity: 100%;
}